.character-container {

    position: relative;
    text-align: center;
    color: white;
}
.character-name-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position:absolute;
    z-index: 99999;
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.character-name-container ion-icon {

    margin-top: 0.5rem;
}

.character-name-container ion-label {

    font-size: 1rem;
    font-weight: 500;
}